[Unit]
Description=beepboopd - Beep Boop Daemon

[Service]
Type=simple
Restart=on-failure
#Environment="BEEPBOOPD_TUNE=chords"
#Environment="BEEPBOOPD_VOLUME=0.9"
#Environment="BEEPBOOPD_WEEK=m:zelda;t:chords;w:clock;th:beep;f:zelda;s:scale;su:clock"
#Environment="BEEPBOOPD_LOG=false"
ExecStart=EXEC_PATH run

[Install]
WantedBy=default.target
